body {
    background: #e6e9e9;
    margin: 0px;
}

.main{
    background: #fff;
    min-width: 600px;
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
    text-align: justify;
    padding: 25px;
    overflow:auto; /*определяет, необходимо ли для переполненного блочного элемента содержимое обрезать, предоставить полосы прокрутки или просто отобразить.*/
    box-sizing: border-box; /* говорит браузеру учитывать любые границы и внутренние отступы в значениях, которые вы указываете в ширине и высоте элемента.*/
}

.main p {
    text-indent: 40px;
}
